accelerate
pandas
langchain-aws
plotly
boto3
bitsandbytes
streamlit
xlsxwriter
torch
transformers
typing
langchain-community
faiss-cpu
sentence-transformers
huggingface-hub
langchain
utils
intel-extension-for-pytorch

